{* This is temporary page, you can delete it *}

{block content}

	<h1>Git - Zapisování změn </h1>
	<br />
	<a n:href="Git:diff"><< Diff</a> |
<a n:href="Git:odstraneni">Odstranění souborů >></a>
	<hr>
	
	<div class="obsah">

	<h2>$ git commit</h2>

	<h2>$ git commit -a</h2>

	</div>


{/block}
