{* This is temporary page, you can delete it *}

{block content}

	<h1>Git - Diff </h1>
	<br />
	<a n:href="Git:ignorace"><< Ignorace</a> |
<a n:href="Git:commit">Zapisování změn >></a>
	<hr>
	
	<div class="obsah">

	<h2>$ git diff</h2>
		$ git status je velmi obecný
	<h2>$ git diff --staged</h2>

	</div>


{/block}
