{* This is temporary page, you can delete it *}

{block content}

	<h1>Git - instalace</h1>
	<br />
	<a n:href="Git:tri"><< Tři stavy</a> |
<a n:href="Git:nastaveni">Nastavení >></a>
	<hr>
	
	<div class="obsah">

	<h2>Stáhněte z: http://git-scm.com/</h2>
	<p>
		<img src="{$basePath}/images/download.png" />
	</p>
	<p>
		Identický na win, lin, osx.
	</p>


	</div>
{/block}
