{* This is temporary page, you can delete it *}

{block content}

	<h1>Git - Přesouvání souborů </h1>
	<br />
	<a n:href="Git:odstraneni"><< Odstranění souborů</a> |
<a n:href="Git:log">Zobrazení hisotorie revizí >></a>
	<hr>
	
	<div class="obsah">

	<h2>$ git mv</h2>

	</div>


{/block}
