{* This is temporary page, you can delete it *}

{block content}

	<h1>Git - Výběr revize </h1>
	<br />
	<a n:href="Git:preskladani"><< Přeskládání</a> |
<a n:href="Git:vyber">Výběr revize >></a>
	<hr>
	
	<div class="obsah">

		
	</div>



{/block}
